.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: #1e1e2f;
  color: white;
  font-family: "Courier New", monospace;
  border-radius: 12px;
  box-shadow: 0 0 20px #00ffcc;
}

textarea,
input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #2e2e3e;
  color: #00ffcc;
}

button {
  margin-right: 10px;
  padding: 10px 20px;
  background: #00ffcc;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}
textarea:focus {
  outline: 2px solid #00ffcc;
  background-color: #1b1b2e;
}
.textarea-wrapper {
  position: relative;
  margin-bottom: 30px;
}

.textarea-wrapper textarea {
  width: 100%;
  padding: 10px;
  background-color: #2e2e3e;
  color: #00ffcc;
  border: none;
  border-radius: 8px;
  font-family: monospace;
  cursor: pointer;
  resize: none;
}

.textarea-wrapper.disabled textarea {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}

.tooltip {
  position: absolute;
  top: -20px;
  right: 10px;
  background-color: #00ffcc;
  color: black;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
