<div class="container">
  <h2>AES Encryption/Decryption</h2>

  <label>Plain Text:</label>
  <textarea [(ngModel)]="plainText"></textarea>

  <label>Secret Key:</label>
  <input [(ngModel)]="secretKey" type="text" />

  <button (click)="encrypt()">Encrypt</button>
  <button (click)="decrypt()">Decrypt</button>
  <br />
  <label>Encrypted Text:</label>
  <div class="textarea-wrapper" [class.disabled]="!encryptedText.trim()">
    <textarea
      [value]="encryptedText"
      readonly
      title="Click to copy"
      (click)="copyText($event)"
    ></textarea>
    <span class="tooltip" *ngIf="showTooltip.encrypted">✔ Copied!</span>
  </div>

  <label>Decrypted Text:</label>
  <div class="textarea-wrapper" [class.disabled]="!decryptedText.trim()">
    <textarea
      [value]="decryptedText"
      readonly
      title="Click to copy"
      (click)="copyText($event)"
    ></textarea>
    <span class="tooltip" *ngIf="showTooltip.decrypted">✔ Copied!</span>
  </div>
</div>
